APP_NAME="FINAGROW Backend API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=http://127.0.0.1:8000

# Database Configuration (Laragon MySQL / MariaDB Default)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=finagrow_db
DB_USERNAME=root
DB_PASSWORD=

# Frontend CORS
FRONTEND_URL=http://localhost:5173
