APP_NAME="FINAGROW Backend API"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://api-finagrow.kembangin.online

# Database Configuration (cPanel MySQL)
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=stagingktk_finagrow
DB_USERNAME=stagingktk_user_finagrow
DB_PASSWORD=

# Frontend CORS
FRONTEND_URL=https://finagrow.kembangin.online
